body {
    color: var(--text-color);
    background: var(--background);
    font-size: var(--font-size);
    font-family: var(--main-family);
    font-style: var(--main-style);
    font-weight: var(--main-weight);
    letter-spacing: var(--main-spacing);
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
}

img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

.lazyload-fade {
    opacity: 1;
    transition: opacity 200ms;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 0;
}

.navColor{
    background-color: #f3cfb3;
}