body {
    color: var(--text-color);
    background: var(--background);
    font-size: var(--font-size);
    font-family: var(--main-family);
    font-style: var(--main-style);
    font-weight: var(--main-weight);
    letter-spacing: var(--main-spacing);
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

.lazyload-fade {
    opacity: 1;
    transition: opacity 200ms;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border: 0;
}

.navColor{
    background-color: #f3cfb3;
}

.a{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    color: var(--text-color);
    margin-bottom: 3px;
    letter-spacing: initial;
    font-size: var(--font-size);
    font-family: var(--main-family);
    font-weight: var(--main-weight);
    font-style: var(--main-style);
    letter-spacing: var(--main-spacing);
}

.fontHome{
    color: var(--text-color);
    margin-bottom: 3px;
    letter-spacing: initial;
    font-size: var(--font-size);
    font-family: var(--main-family);
    font-weight: var(--main-weight);
    font-style: var(--main-style);
    letter-spacing: var(--main-spacing);
}

.bannerHome{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}